@forward '../../../Shared/ClientApp/rosie/dist/css/rosie.css';

@use 'variables' as *;

header.card-header {
  .nav-tabs {
    .nav-title {
      font-size: $navbar-brand-font-size;
      padding: calc($nav-link-padding-y / 2) calc($nav-link-padding-x / 2);
    }
  }
}

aside {
  width: 15rem;
  .nav-link {
    &:hover {
      background-color: $component-hover-bg;
    }
    &.active {
      color: $component-active-color;
      background-color: $component-active-bg;
    }
  }
}