// System

// *:focus, *:active, *:read-only {
//   outline: none !important;
//   outline-width: 0 !important;
//   box-shadow: none !important;
//   -moz-box-shadow: none;
//   -webkit-box-shadow: none;
// }

// // Body

// body, input, textarea, select, button {
//   -webkit-font-smoothing: subpixel-antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// Buttons (813)
//
// For each of Bootstrap's buttons, define text, background, and border color.

.btn-outline-secondary {
  border-color: $border-color !important;
  color: $body-color;
}

.btn-primary, .btn-outline-primary:hover, .btn-check:checked + .btn-outline-primary,
.btn-success, .btn-outline-success:hover, .btn-check:checked + .btn-outline-success,
.btn-danger, .btn-outline-danger:hover, .btn-check:checked + .btn-outline-danger {
  color: $white !important;
}

// Navs (1156)
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav-link {
  &:hover, &:focus {
    color: $link-hover-color;
  }
}

// Navbar (1187)
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand { color: $primary !important; }

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  .nav-link {
    &.active, &.show {
      color: $navbar-active-color;
      cursor: default;
    }
  }
}

// Breadcrumbs (1631)

.breadcrumb {
  display: flex;
  flex: 0 0 $breadcrumb-height;
  height: $breadcrumb-height;
  align-items: center;
  border-bottom: 1px solid $border-color;

  .breadcrumb-item {
    padding-left: calc($breadcrumb-height * 3 / 4);
    position: relative;

    &:first-child { padding-left: 0; }
    &:before {
      content: '';
      position: absolute;
      margin-top: -7px;
      margin-left: 1px;
      left: 100%;
      border-top: calc($breadcrumb-height / 2) solid transparent;
      border-bottom: calc($breadcrumb-height / 2) solid transparent;
      border-left: calc($breadcrumb-height / 2) solid $border-color;
    }
    &:after {
      content: '';
      position: absolute;
      margin-top: -7px;
      left: 100%;
      border-top: calc($breadcrumb-height / 2) solid transparent;
      border-bottom: calc($breadcrumb-height / 2) solid transparent;
      border-left: calc($breadcrumb-height / 2) solid $white;
    }
    &.active { font-weight: bold; }
  }
}
