<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>Minerva</title>
  <link rel="icon" href="/favicon.ico" />
   <link rel="stylesheet" href="/app.32e39fb0.css?_dc=@(DateTime.Now.Ticks)" />
</head>
<body>
  @RenderBody()
  <script src="/app.ef59089d.js?_dc=@(DateTime.Now.Ticks)"></script>
</body>
</html>