@page
@{
  ViewData["ActivePage"] = "Administration";
}

<div id="admin-app"></div>

@section Styles {
  <link rel="stylesheet" href="/admin.a2a6e054.css?_dc=@(DateTime.Now.Ticks)" />
}

@section Scripts {
  <script src="/admin.js?dc=@(DateTime.Now.Ticks)"></script>
}