<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Venus</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/app.3bd35c15.css?_dc=@(DateTime.Now.Ticks)" />
</head>
<body>
    @RenderBody()

    <script src="/app.2b7ac4e5.js?_dc=@(DateTime.Now.Ticks)"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
