<!DOCTYPE html>
<html lang="en" class="fullscreen">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Venus</title>
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/rosie.css?_dc=@(DateTime.Now.Ticks)" />
  <link rel="stylesheet" href="/venus.css?_dc=@(DateTime.Now.Ticks)" />
  @RenderSection("Styles", required: false)
</head>
<body class="fullscreen p-2">
  <div class="fullscreen card border-0 border-radius-0">
    <header class="card-header bg-transparent pt-0">
      <!-- Render the navigation partial view, passing the current page -->
          <partial name="_Navigation" model="@(ViewData["ActivePage"]?.ToString() ?? "Index")" />
    </header>
    <div class="fullscreen card-body border border-top-0 rounded-bottom">
      @RenderBody()
    </div>
  </div>
  @RenderSection("Scripts", required: false)
</body>
</html>
