html, body, main, .app, .app-wrapper, .app-body, .main, .aside-menu, .fullscreen, #react-root { @include fullscreen(); }

.app {
  header {
    .navbar-brand { color: $primary; }
  }
  aside {
    .nav-link {
      &:not(.active) {
        &:hover { background-color: $list-group-hover-bg; }
      }
      &.active {
        color: $list-group-active-color; background-color: $list-group-active-bg;
      }
    }
  }
}