$primary:       #e97b98;
$secondary:     #6e5494;
$success:       #6cc644;
$info:          #6aa5db;
$warning:       #fbca04;
$danger:        #ea4c89;
$light:         #f5f5f5;
$dark:          #ddd;

// Body
//
// Settings for the `<body>` element.

$body-color: #3f434a;
$body-bg:    #fdfdfd;

// Components
//
// Define common padding and border radius sizes and more.

$border-color: rgba(0, 0, 0, 0.125);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base: Effra, Roboto, Helvetica, Open-Sans, Arial, sans-serif;
$font-size-base: .875rem;
$font-weight-base: 300;

// Breadcrumb

$breadcrumb-padding-y: .25rem;
$breadcrumb-padding-x: .5rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-height: 40px;

// Components
//
// Define common padding and border radius sizes and more.

$component-hover-bg: #ed95ac;